body {
    animation-name: BodyAppear;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes BodyAppear {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}