.tempProfilePic {
    background: linear-gradient(to right, rgb(112, 26, 130) 0%, rgb(125, 185, 232) 100%);
    width: 150px;
    height: 150px;
    /*transform: rotate(-45deg);*/
    animation-name: tempProfilePic-animate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    filter: saturate(8);
    text-align: center;
    vertical-align: 50%;
    mask-image: url("./profileMask.svg");
    mask-size: 100%;
}


@keyframes tempProfilePic-animate {
    0% {
        filter: hue-rotate(0deg) saturate(2);
    }

    25% {
        filter: hue-rotate(90deg) saturate(1);
    }

    50% {
        filter: hue-rotate(180deg) saturate(1);
    }

    75% {
        filter: hue-rotate(270deg) saturate(1);
    }

    100% {
        filter: hue-rotate(360deg) saturate(2);
    }
}