.tempProfilePic {
    background: linear-gradient(to right, rgb(112, 26, 130) 0%, rgb(125, 185, 232) 100%);
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
    animation-name: tempProfilePic-animate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    filter: saturate(8);
    text-align: center;

}

.tempProfilePic p {
    transform: rotate(0deg);
}

.tempProfilePicContainer {
    position: absolute;
    border: black 5px solid;
    width: auto;
    padding: 20px;
    right: 100px;
    top: 100px;
}

@keyframes tempProfilePic-animate {
    0% {
        filter: hue-rotate(0deg) saturate(1);
    }

    25% {
        filter: hue-rotate(90deg) saturate(2);
    }

    50% {
        filter: hue-rotate(0deg) saturate(1);
    }

    75% {
        filter: hue-rotate(-90deg) saturate(2);
    }

    100% {
        filter: hue-rotate(0deg) saturate(1);
    }
}