@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.orange {
    color: orangered
}

.projects-table {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.projects-table div:nth-child(odd) {
    background-color: rgb(220, 220, 220);
}

.projects-table div:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

.projects-table-row {
    display: grid;
    grid-template-columns: 128px 96px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.projects-table-row p,
.projects-table-row a {
    font-size: 0.9rem;
    margin-bottom: 6px;
    margin-top: 6px;
}

a,
a:visited {
    text-decoration: none;
    color: orangered
}

.projects-table-top {
    background-color: rgb(190, 190, 190) !important;
    border-bottom: 2px solid gray;
}