@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.de-opensans {
    font-family: 'Open Sans', sans-serif;
}

.de-glassbutton {
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    border: none;
    color: rgb(80, 80, 80);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 300px;
    transition-duration: 0.1s;
    margin: 7.5px;
    margin-top: 10px;
    outline: rgba(245, 245, 245, 0.4) solid 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(241, 241, 241, 0.25) 50%, rgba(225, 225, 225, 0.25) 51%, rgba(255, 255, 255, 0.25) 100%);
}

.de-glassbutton:hover {
    cursor: pointer;
    outline: rgba(245, 245, 245, 0.4) solid 8px;
    background-position-x: 300px;
}

.de-glassbutton:active {
    outline: rgba(245, 245, 245, 0.4) solid 3px;
}

.de-thintextinput {
    border: none;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
    transition-duration: 0.1s;
    padding-top: 10px;
    min-width: 250px;
}

.de-thintextinput:focus {
    border-bottom: 1.2px rgba(255, 255, 255, 0.5) solid;
}

.de-thintextinput-placeholder {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 20px;
    left: 0px;
    top: -10px;
    padding-left: 20px;
    pointer-events: none;
    transition-duration: 0.25s;
    text-overflow: clip
}

.de-thintextinput-placeholder-higher {
    font-size: 14px;
    left: -22px;
    top: -34px;
}

.position-relative {
    position: relative;
}

/*Toast*/
.toast-container {
    position: relative;
    z-index: 9999999;
    min-width: 150px;
    width: 50%;
    max-width: 400px;
    height: auto;
    min-height: 50px;
    background-color: #666666;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 9px -7px rgba(0, 0, 0, 0.45);
    transition-duration: 0.25s;
    margin: 4px;
    transform: rotateY(180deg);
    pointer-events: all;
    transition-duration: 1s;
}

.toast-container-appearing {
    width: 0px;
    min-width: 0px;
    background-color: transparent;
    color: transparent;
    box-shadow: 0px 10px 9px -7px rgba(0, 0, 0, 0);
}

.toast-text {
    float: left;
}

.toast-exit {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 10px;
}

.toast-box {
    position: fixed;
    z-index: 9999998;
    background-color: transparent;
    width: 40%;
    min-height: 100%;
    bottom: 0px;
    right: 0px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transform: rotateY(180deg);
}